  <div class="center hero-unit">
    <h1>Welcome to the Vendor Portal</h1>

    <%= link_to "List of Vendors", vendors_path,
                                class: "btn btn-large btn-primary" %>

    <%= link_to "Create a Vendor", new_vendor_path,
                                class: "btn btn-large btn-primary" %>                                
  </div>