<% provide(:title, 'Create a new Vendor') %>
<h1>Create a new Vendor</h1>

<div class="row">
  <div class="span6 offset3">
    <%= render 'vendors/vendor_fields', :locals => { :vendor => @vendor } %>
  </div>
</div>