<div id="addresses_form">
	<% if @vendor.addresses.any? %>
	  <% @vendor.addresses.each do |address| %>
	  	  <div id="address_<%= address.id %>">
	  		<%= render 'addresses/edit',  { address: address, vendor: @vendor } %>
    		<%= link_to "delete", address, method: :delete,
                  data: { confirm: "Are you sure?" }, remote: true %>
          </div>	  		
	  <% end %>
	<% else %>
	  <%= render 'addresses/edit', { address: @address, vendor: @vendor } %>
	<% end %>
</div>