      Addresses:
      <div id="all_addresses">
        <ul>
        	<%= f.fields_for :addresses do |addresses_form| %>
            <%= render :partial => 'addresses/edit_address', 
                  :locals => { :addresses_form => addresses_form } %>

        	<% end %>
    	  </ul>
      </div>